#!/bin/bash
{{- if ne .chezmoi.os "windows" }}

email="rock.boynton@yahoo.com"
# TODO read username and email from input instead

alias sudo='sudo '

sudo apt update
sudo apt upgrade -y
sudo apt autoremove -y

# # install all the things
sudo apt install -y \
    fzf \
    bat \
    ripgrep \
    neofetch \
    keychain \
    || true # prevent missing packages from failing the script

# generate ssh key
test -f "$HOME"/.ssh/id_ed25519 || ssh-keygen -t ed25519 -C "$email" -f "$HOME"/.ssh/id_ed25519 -q

# install Starship shell
curl -sS https://starship.rs/install.sh | sh -s -- -y

if [ -f "/bin/batcat" ]; then
    sudo ln -s /bin/batcat /bin/bat
fi
{{ end -}}