#!/bin/bash

email="rock.boynton@yahoo.com"
# TODO read username and email from input instead

alias sudo='sudo '

sudo apt update
sudo apt upgrade -y
sudo apt autoremove -y

# install all the things
sudo apt install -y \
    fzf \
    bat \
    ripgrep \
    neofetch \
    keychain

# generate ssh key
ssh-keygen -t ed25519 -C "$email" -f "$HOME"/.ssh/id_ed25519 -q -P

# install Starship shell
curl -sS https://starship.rs/install.sh | sh

sudo ln -s /bin/batcat /bin/bat
